@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Jura;
    text-decoration: none;
    color: white;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #465385;
}

::-webkit-scrollbar-thumb {
    background: #334583;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.leave-button {
    background-color: #C8102E;
}

.continue-button {
    background-color: #48A34C;
}


// ------------------------------------------------------------------------ start page ------------------------------------------------------------------------
.start-page {
    background-image: url('./assets/images/startPageBackground.png');
    background-size: cover;
    width: 100%;
    height: 100vh;

    h1 {
        position: absolute;
        top: 15%;
        right: 10%;
        font-size: 105px;
    }

    .buttons-box {
        width: 35%;
        height: 35%;
        position: absolute;
        right: 15%;
        top: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        button {
            width: 664px;
            height: 102px;
            border-radius: 35px;
            font-size: 40px;
            display: flex;
            align-items: center;
            gap: 20px;
            padding-left: 60px;
            background: linear-gradient(to left, #0C2359, #455CA8);
            border: none;
            cursor: pointer;
        }
    }

    .media-box {
        position: absolute;
        bottom: 2%;
        left: 2%;
        width: 17%;
        height: 12%;
        display: flex;
        gap: 20px;
        align-items: center;
    }
}

// ------------------------------------------------------------------------ country select page ------------------------------------------------------------------------

.country-selection-page {
    header {
        background-color: #445BA7;
        height: 157px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2vw;
        font-size: 24px;

        button {
            width: 425px;
            height: 84px;
            display: flex;
            align-items: center;
            padding-left: 30px;
            border: none;
            border-radius: 35px;
            font-size: 36px;
            gap: 20px;
            cursor: pointer;
        }
    }

    .country-list {
        background-color: #0E255C;
        width: 1406px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .country-card {
            width: 347px;
            height: 308px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;
        }

        .country-card:hover {
            background-color: #334583;
            cursor: pointer;
        }
    }

    main {
        display: flex;
    }

    .country-info {
        background-color: #334583;
        width: 514px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 32px;
        text-align: center;
    }

    .country-atribute {
        font-size: 30px;

        span {
            color: #0b193b;
        }
    }

    .confirm-box {
        background-color: #445BA7;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 1049px;
        height: 439px;
        box-sizing: border-box;
        padding: 50px 30px;
        font-size: 34px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        div {
            display: flex;
            justify-content: space-around;
        }
    }
}

// ------------------------------------------------------------------------ navbar ------------------------------------------------------------------------

.navbar {
    width: 350px;
    background-color: #334583;
    height: 100vh;

    button {
        width: 100%;
        height: 95px;
        background-color: inherit;
        border: none;
        font-size: 30px;
        display: flex;
        align-items: center;
        padding-left: 40px;
        gap: 20px;
        cursor: pointer;
    }

    button:hover {
        background-color: #465385;
    }
}

// ------------------------------------------------------------------------ header ------------------------------------------------------------------------

.header {
    background-color: #445BA7;
    height: 150px;
    width: 1470px;
    padding-inline: 50px;
    display: flex;
    align-items: center;

    section {
        display: flex;
        justify-content: space-between;
        width: 950px;
    }

    div {
        height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-block: 5px;
        box-sizing: border-box;
        margin-left: 20px;
        font-size: 120%;
    }

    .date {
        padding-block: 10px;
    }

    button {
        width: 425px;
        height: 84px;
        display: flex;
        align-items: center;
        padding-left: 30px;
        border: none;
        border-radius: 35px;
        font-size: 36px;
        gap: 20px;
        cursor: pointer;
        margin-left: 20px;
    }
}

// ------------------------------------------------------------------------ home page ------------------------------------------------------------------------

.home-page {
    display: flex;

    main {
        .home-content {
            background-color: #0E255C;
            height: 930px;
            display: flex;
            align-items: center;

            .home-content-wrapper {
                width: 1160px;
                height: 925px;
                display: flex;
                align-items: center;
                justify-content: space-around;
                flex-wrap: wrap;

                .home-card {
                    width: 538px;
                    height: 393px;
                    background-color: rgba(68, 91, 167, 0.5);
                }
            }

            .home-ranking {
                background-color: rgba(68, 91, 167, 0.5);
                height: 855px;
                width: 360px;
                margin-left: 30px;
            }
        }
    }
}

// ------------------------------------------------------------------------ calendar page ------------------------------------------------------------------------

.calendar-page {
    display: flex;

    .calendar-content {
        height: 930px;
        background-color: #0E255C;
        overflow: auto;

        table {
            width: 100%;
            font-size: 25px;
            height: 100%;

            td {
                text-align: center;
                padding: 5px 30px;

                .event-gp {
                    color: #48A34C;
                }

                .event-4ht {
                    color: aqua;
                }

                .event-worldChamp {
                    color: red
                }

                .event-rawair {
                    color: rgb(55, 55, 255)
                }
            }

            .headlines {
                font-size: 35px;
            }

            .calendar-row {
                img {
                    width: 30px;
                }
            }
        }
    }
}

// ------------------------------------------------------------------------ national list page ------------------------------------------------------------------------

.nationalList-page {
    display: flex;

    .nationalList-content {
        background-color: #0E255C;
        height: 930px;
        display: flex;
        align-items: start;

        table {
            margin-top: 20px;
            width: 100%;

            th {
                font-size: 28px;
            }

            td {
                width: 16%;
                font-size: 25px;
                padding-block: 10px;
                text-align: center;
            }

            tr:hover {
                background-color: #0b193b;
                cursor: pointer;
            }
        }

        .nationalList-wrapper {
            width: 1160px;
            height: 925px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-wrap: wrap;

            .nationalList-card {
                width: 538px;
                height: 393px;
                background-color: rgba(68, 91, 167, 0.5);
            }
        }
    }
}

// ------------------------------------------------------------------------ national list page ------------------------------------------------------------------------

.teams-navbar {
    background-color: #3d4d85;
    height: 68px;

    button {
        height: 100%;
        width: 260px;
        font-size: 30px;
        background-color: inherit;
        border: none;
        cursor: pointer;
    }

    button:hover {
        background-color: #2f4280;
    }
}

// ------------------------------------------------------------------------ competitions page ------------------------------------------------------------------------

.competitions-page {
    background-color: #445BA7;
    height: 100vh;
    overflow-y: auto;

    .competitions-header {
        height: 157px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 30px;
        padding-inline: 50px;

        .competitions-place {
            display: flex;
        }

        button {
            width: 617px;
            height: 84px;
            border-radius: 35px;
            font-size: 50px;
            border: none;
            cursor: pointer;
        }
    }

    table {
        background-color: rgb(74, 101, 189);
        margin-inline: auto;
        width: 95%;
        border-collapse: collapse;
        margin-bottom: 20px;

        td, th {
            width: 6%;
            font-size: 25px;
            text-align: center;
            border: solid white .5px;
        }

        .lp {
            width: 5%;
        }
    }
}

.tournaments-page { 
    background-color: #0E255C;

    .tournaments-content {
        display: flex;
        box-sizing: border-box;
        padding: 50px 50px;
        gap: 20px;
        flex-wrap: wrap;
        width: 1570px;

        .torunament-card {
            background-color: rgba(68, 91, 167, 0.5);
            width: 450px;
            height: 257px;
            cursor: pointer;
            transition: all .3s;
        }

        .torunament-card:hover {
            background-color: rgba(68, 91, 167, 1);
        }
        h1 {
            text-align: center;
            margin-top: 25px;
            font-size: 40px;
        }
    }
}

.grandPrixInfo-page {
    .tournament-navbar {
        height: 84px;
        background-color: #3d4d85;

        button {
            height: 100%;
            width: 330px;
            font-size: 35px;
            background: inherit;
            border: none;
            cursor: pointer;
        }
    }
}

.ranking {
    background-color: #0E255C;
    height: 846px;
    overflow-y: auto;

    table {
        width: 100%;
        
        td, th {
            text-align: center;
            padding: 10px;
            font-size: 25px;
        }

        .flag {
            text-align: center;
            img {
                width: 40px;
            }
        }
    }
}

.rules {
    background-color: #0E255C;
    height: 846px;
}

.training-page {
    display: flex;
    overflow-y: auto;
    
    table {
        background-color: #0E255C;
        width: 100%;
        height: 930px;

        td {
            text-align: center;
            width: 10%;
            font-size: 21px;
            height: 1px;
        }

        button {
            background-color: #455CA8;
            width: 200px;
            height: 40px;
            font-size: 30px;
            border-radius: 35px;
            border: none;
            cursor: pointer;
        }
    }
}

.training-confirm {
    td {
        button {
            font-size: 20px;
        }
    }
    
}